body {
	background-color: #2FCD85;
	margin: 0;
}

h3 {
	margin-bottom: 0px !important;
	margin-left: 10px !important; 
}

p {
	font-size: 10px;
	margin-top: 0px;
}

#button_next{
	height: 100px;
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
	line-height: 3em;
	border-radius: 50px;
	height: 3em !important;
	background: #3454d2;
	text-transform: capitalize;
	margin-bottom: 10px; 
}

.btn_close{
	box-shadow: none !important;
	float: right;
}

.field_password{
	margin-bottom: 0px !important;
}

.hide_password{
	float: right;
	font-size: 12px;
	color: #BFBFBF;
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.box {
	width: 600px;
	height: 400px;
	margin: auto;
	background-color: white;
	padding: 25px;
}

.box-border {
	border: 1px solid #c5c5c5;		
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form_item {
	margin-left: 10px !important;
	margin-bottom: 12px;
	height: 2em !important;
}

.form_input {
	float: right !important;
	margin-top:-140px;
	padding-left: 50px !important;
}